.Layout {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(at, 78px);
  grid-gap: 1em;
}

.Layout .Nav_s {
  grid-column: 1/6;
  grid-row: 1/1;
}

.Layout .Recommended_s {
  grid-column: 1/2;
  grid-row: 2/9;
  height: 83vh;
}

.Layout .Sidebar_s {
  grid-column: 6/5;
  grid-row: 2/9;
  height: 83vh;
}
.Layout .content_s {
  grid-column: 2/5;
  grid-row: 2/9;
  height: 83vh;
}

@media (max-width: 700px) {
  .Layout .Nav_s {
    grid-column: 1/6;
    grid-row: 1/1;
  }

  .Layout .Recommended_s {
    display: none;
  }

  .Layout .Sidebar_s {
    grid-column: 6/4;
    grid-row: 2/9;
    height: 83vh;
  }
  .Layout .content_s {
    grid-column: 1/4;
    grid-row: 2/9;
    height: 83vh;
  }
}
